
@font-face {
  font-family: Satoshi-black;
  src: url("../src/assets/fonts/OTF/Satoshi-Black.otf");
}
@font-face {
  font-family: Clash-bold;
  src: url("../src/assets/fonts/OTF/ClashDisplay-Semibold.otf");
}
@font-face {
  font-family: Clash-light;
  src: url("../src/assets/fonts/OTF/ClashDisplay-Medium.otf");
}

@import "tailwindcss";
@plugin "tailwindcss-motion";
body,
html {
  background: rgb(248, 248, 239);

  color: black;
  
}

body::-webkit-scrollbar {
  display: none;
}

@theme {
  --font-Clash-bold: Clash-bold, "sans-serif";
  --font-Satoshi-black: Satoshi-black, "sans-serif";
  --font-Clash-light:Clash-light,"sans-serif";

}