@font-face {
  font-family: montserrablack;
  src: url("../src/assets/fonts/EarlyQuakeDEMO.otf");
}

@font-face {
  font-family: Qurova;
  src: url("../src/assets/fonts/Milker.otf");
}
@font-face {
  font-family: montserra;
  src: url("../src/assets/fonts/MontserratAlternates-SemiBold.otf");
}

@import "tailwindcss";
@plugin "tailwindcss-motion";
body,
html {
  background-color: rgb(248, 248, 239);
  color: black;
  
}

body::-webkit-scrollbar {
  display: none;
}

@theme {
  --font-montserraBold: montserrablack, "sans-serif";
  --font-qurova: Qurova, "sans-serif";
  --font-montserra:montserra,"sans-serif";

}